@model IEnumerable<FichaAcademia.Dominio.Models.Exercicio>

@{
    ViewData["Title"] = "Exercícios ";
}

<style>
    th {
        color: whitesmoke;
        text-align: center;
    }

    td {
        color: whitesmoke;
        text-align: center;
    }

    table.highlight > tbody > tr:hover {
        background-color: #202020 !important;
    }

    table.highlight > tbody > tr {
        color: dimgrey !important;
    }
</style>


<div class="row">
    <div class="col s12">

    </div>
</div>

<p>
    <h5 style="color:white;text-align:right;margin-right:50px">
        Adicionar Novo Exercício &nbsp;
        <a asp-action="Create" class="btn-floating btn-medium waves-effect waves-light purple darken-1"><i class="material-icons">add</i></a>
    </h5>


</p>
<table class="table card-panel grey darken-3 hover highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Categoria
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaExercicio.Nome)
                </td>
                <td style="text-align:right">
                    <a asp-action="Edit" asp-route-id="@item.ExercicioId" class="btn-floating btn-small waves-effect waves-light purple darken-1"
                       data-toggle="tooltip" data-position="right" data-tooltip="Editar Objetivo"><i class="material-icons">edit</i></a> &nbsp;
                    <a onclick="ExibirModal(@item.ExercicioId, '@item.Nome')" class="btn-small btn-floating waves-effect waves-light red darken-4"
                       data-toggle="tooltip" data-position="right" data-tooltip="Excluir Objetivo" style="margin-right:45px">
                        <i class="material-icons">clear</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="modal1" class="modal grey darken-3" style="border-radius:20px;width:35%">
    <div class="modal-content">
        <h5 style="color:whitesmoke">Excluir Exercício</h5>
        <p style="color:whitesmoke">Deseja prosseguir com a exclusão do exercício <b class="nome"></b> ? </p>
    </div>
    <div class="modal-footer grey darken-3">
        <a class="btn-small modal-close btn red darken-4 btnConfirmar" style="border-radius: 25px; ">Sim</a>&nbsp;
        <a class="btn-small modal-close btn grey darken-2" style="border-radius: 25px; margin-right: 15px">Não</a>
    </div>
</div>

@section Scripts
{

    <script>
        $(document).ready(function () {
            $(".modal").modal();
        })

        function ExibirModal(id, nome) {
            $(".nome").html(nome);

            $("#modal1").modal("open");

            $(".btnConfirmar").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: "/Exercicios/Delete",
                    data: { id: id },
                    success: function () {
                        location.reload();
                    }
                });
            });
        }

    </script>

}